@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "mont-bold";
  src: url("../public/fonts/MontBold.woff2");
}

@font-face {
  font-family: "mont-regular";
  src: url("../public/fonts/MontRegular.woff");
}

@font-face {
  font-family: "mont-semibold";
  src: url("../public/fonts/MontSemiBold.woff");
}

@font-face {
  font-family: "mont-heavy-bold";
  src: url("../public/fonts/MontHeavy.woff2");
}

.topics::-webkit-scrollbar{
  display: none;
}
